<link rel="stylesheet" href="/css/mysheet.css">



<div class="about-section" style="margin:50px; text-align:left; color:black; background-color:white">
    <h1 style="color:brown">Contact Us</h1>
    <h3>Address</h3>
    <p>
        Valencia, A3-Block, Lahore, Pakistan

    </p>

    <h3>Webmaster</h3>
    <p>
        99212240,50 –ext-191

    </p>

    <h3>Email</h3>
    <p>
        info@carteblanche.tech
    </p>

    <h3>Company Office</h3>
    <p>
        99212240,50 –ext-191 n

    </p>

    <h3>Project Coordinator Officer</h3>
    <p>
        99212240,50 –ext-191
    </p>

    <h3>Head of Valencia Branch</h3>
    <p>
        99212240,50 –ext-191

    </p>



</div>

<div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

        <h3 style="text-align:center">Want to get hold of us?</h3>

        <p style="text-align:center">Contact us at info@carteblanche.tech / (+92) 316 0416819)  </p>

        <p style="text-align:center"> Copyrights 2022</p>

    </div>


