

<div class="container">
    <h2 style="color:brown">Home</h2>
    <p style="align-content:flex-start">
        Innovating at the edge of possible-impossible
        Cloud - Web - UI/UX - Blockchain - AI
        We empower businesses, organizations, teams, and individuals by creating value-driven cloud-based-software-products that are artfully designed, user-centric, secure, scalable, and available anywhere.
        Carte Blanche fosters a culture of pragmatic problem-solving, innovation and most of all - empathy. Connecting businesses with technology, we thrive on our customers' success, understand their toughest challenges and are ever-ready to lead, support or inspire the journey to business transformation.
    </p>

    <div class="media">
        <img class="align-self-center mr-3" src="/Images/1.jpg">
        <div class="media-body" >
            <h5 class="mt-0" style="color:brown">What We Do!</h5>
            <p>we craft Products that leave an impact With our roots in design thinking coupled with agile philosophy, we engineer products that share a bond with the users.</p>

            <h5 class="mt-0" style="color:brown">Featured Product</h5>
            <p>Our products build on top of creativity and collaboration, with a vision to solve real world problems efficiently and effectively.</p>

            <h5 class="mt-0" style="color:brown">Who We Are!</h5>
            <p>A crazy bunch of software & design geeks We mix art, design, science and some brainsauce to reimagine rea lity.</p>
            
            <h5 class="mt-0" style="color:brown">How We Work!</h5>
            <p>The art of disciplined creativity.</p>
             <p>
                 We create tools, platforms and products that reshape the way you get things done. It transforms the way you store, view and interact with your data to take your businesses, teams, and organizations to new heights of efficiency and productivity.
             </p>
            

        </div>


       
    </div>
    

    <div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

        <h3 style="text-align:center">Want to get hold of us?</h3>

        <p style="text-align:center">Contact us at info@carteblanche.tech / (+92) 316 0416819)  </p>

        <p style="text-align:center"> Copyrights 2022</p>

    </div>
</div>
